


<div class="cantainer-lg text-white bg-dark bg-gradient border border-3 border-success">

  <div class="p-4 text-white text-center">
    <h3>Dodaj nowe zadanie</h3>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-lg-5">
      <label for="task-title" class="form-label m-2">Tytuł zadania:</label>
      <input type="text" class="form-control bs-success" id="task-title" placeholder="Zadanie 1" name="task-title">
      <label for="task-desc" class="form-label m-2">Opis zadania:</label>
      <textarea class="form-control" id="task-desc" rows="3"></textarea>

      <div class="m-2">
        <label for="priority" class="form-label">Priorytet:</label>
        <input type="radio" class="form-check-input m-2" id="lowPriority" name="priority" value="niski">Niski
        <input type="radio" class="form-check-input m-2" id="mediumPriority" name="priority" value="sredni">Średni
        <input type="radio" class="form-check-input m-2" id="hightPriority" name="priority" value="wysoki" checked>Wysoki
      </div>

      <div class="">
        <label for="task-deadline" class="form-label m-2">Czas trwania:</label>
        <input type="text" class="col-lg-1 m-2" id="task-deadline" placeholder="1" name="task-deadline">

          <select class="m-2" id="timeUnity">
            <option>godziny</option>
            <option>dni</option>
            <option>tygodnie</option>
            <option>miesiące</option>
          </select>
      </div>

      <div class="text-center m-4">
        <input type="submit" class="btn btn-info" value="Dodaj zadanie">
      </div>


    </div>
  </div>
</div>


