


<div class="cantainer-lg text-white bg-dark bg-gradient border border-3 border-success" *ngIf="isAddingTask">

  <div class="p-4 text-white text-center">
    <h3>Dodaj nowe zadanie</h3>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-lg-5">
      <label for="task-title" class="form-label m-2">Tytuł zadania:</label>
      <input type="text" class="form-control bs-success" id="task-title" placeholder="Zadanie 1" name="task-title" [(ngModel)]="newTask.taskName">
      <label for="task-desc" class="form-label m-2">Opis zadania:</label>
      <textarea class="form-control" id="task-desc" rows="3" [(ngModel)]="newTask.taskDescription"></textarea>

      <div class="m-2">
        <label for="priority" class="form-label">Priorytet:</label>
        <input type="radio" class="form-check-input m-2" id="lowPriority" name="priority" value="1" (change)="setPriorityLevel($event)">Niski
        <input type="radio" class="form-check-input m-2" id="mediumPriority" name="priority" value="2" (change)="setPriorityLevel($event)">Średni
        <input type="radio" class="form-check-input m-2" id="hightPriority" name="priority" value="3" (change)="setPriorityLevel($event)" checked>Wysoki
      </div>

      <div class="">
        <label for="task-deadline" class="form-label m-2">Czas trwania:</label>
        <input type="text" class="col-lg-1 m-2" id="task-deadline" placeholder="1" name="task-deadline" [(ngModel)]="timeCount">

          <select class="m-2" id="timeUnity" [(ngModel)]="currentTimeOption">
            <option *ngFor="let timeOption of timeOptions">{{timeOption}}</option>
          </select>
      </div>

      <div class="text-center m-4">
        <!-- <input type="submit" class="btn btn-info" value="Dodaj zadanie" (click)="changeAddingTaskState()"> -->

        <button class="btn btn-info">Dodaj zadanie</button>
      </div>


    </div>
  </div>
</div>


