
.to-do-color{
  background-color: #f26a8d;
}

.in-progress-color{
  background-color: #fcf6bd;
  }

.done-color{
  background-color: #7ae582;
  }

.task-element{
  background-color: #e9ecef;

}

.box {
  inline-size: 150px;
  overflow-wrap: break-word;
}
