<div class="navbar-bgr">
  <span class="navbar-logo">
  <span class="logo-to-word">TO-</span>
  <span class="logo-do-word">DO-</span>
  <span class="logo-list-word">LIST</span>
  </span>

  <div class="center m-3" *ngIf="!isEditingTask">
    <button type="button" [ngClass]="isAddingTask ? 'btn btn-danger' : 'btn btn-success'"
     (click)="changeAddingTaskState()">{{currentButtonText}}
    </button>
  </div>

  <div class="center m-3" *ngIf="isEditingTask">
    <button type="button" class="btn btn-danger"
     (click)="changeEditingTaskState()">{{cancelEditTaskText}}
    </button>
  </div>

</div>


