<div class="d-flex">

  <div class="flex-grow-1 m-1 text-break"><b>{{task.taskName}}</b></div>

  <div class="m-2">
    <p class="badge bg-primary">{{task.priority}} </p>
  </div>

  <div class="m-2">
    <button type="button" class="rounded settings-color bg-gradient" (click)="tasksDetails()">
      <img src="/assets/down-chevron.png" alt="Options" width="30px" height="30px">
    </button>
  </div>

  <div class="m-2">
    <button type="button" class="rounded settings-color" (click)="tasksSettings()">
      <img src="/assets/settings.png" alt="Options" width="30px" height="30px">
    </button>

  </div>
</div>

<div class="container" [hidden]="isSettingsHidden">

  <div class="m-2 d-flex flex-row-reverse">
    <button type="button" class="m-1 btn btn-info rounded" (click)="editTask()">
      Edytuj
    </button>

    <button type="button" class="m-1 btn btn-danger rounded" (click)="removeTask()">
      Usuń
    </button>

  </div>
</div>

<div class="container" [hidden]="isDetailsHidden">

  <div class="text-break border border-dark m-1">
    {{task.taskDescription}}
  </div>

  <div class="text-success m-1">
    <b> Data dodania: {{task.addTaskDate.toLocaleString()}}</b>
  </div>

  <div class="text-danger m-1">
    <b> Deadline: {{task.deadlineDate.toLocaleString()}}</b>
  </div>

</div>
